
body, html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}
/* Optional heading styling */
/*
h1, h2, h3, h4, h5 ,h6 {
  font-family: 'Merriweather', serif;
}
*/
h3{
  font-weight: bold;
}
h5{
  color: black;
  font-weight: bold;
}
.glyphicon-small{
  font-size: 3em;
}
body:not(nav#topbar){
  max-width: 1440px;
  margin: 0 auto !important;
  float: none !important;
}
/* Defining main styling variables*/
:root{
  --main-bg-color: rgb(76, 137, 48);
  --main-btn-text-color: rgb(255, 255, 255);
  --main-btn-hover-color: rgb(61, 122, 33);
  --navbar-navlink-color: rgb(153, 153, 153);
  --latest-news-background-color: rgb(153, 153, 153);
}




/* Topbar */
/* Using ID to override Bootstrap's styling */
#topbar{
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color);
  margin-bottom: 0px;
}
.nav.navbar-nav.navbar-right li a:not(.dropdown-item) {
    color: var(--main-btn-text-color);
}
#dropmenu-btn{
  background-color: var(--main-btn-text-color);
  margin-top: 0.5em;
  width: 10em;
  margin-left: 1rem;
  padding-left: 0;
}
#dropmenu-btn:hover{
  background-color: rgb(240, 240, 240);
}

/* Background image */
div.bg {
  background: url('../layers/background.jpg');
  position: fixed;
  top: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
  width: 1200px;
  height: 800px;
  z-index: -1;

}

/* Jumbotron */
div.jumbotron {
  height:800px;
  margin-bottom: 0px;
  background: transparent;
  padding: 0 0 0 0;
}
/* Navbar */
/* Overriding bootstrap's styling */
#toggle-button{
  background-color: white;
}
#iconbar{
  background-color: black;
}

div.navbar{
  margin-bottom: 0;
  margin-top: 20px;
}
.navbar{
  margin-bottom: 0px;
}
#navbar-background{
  background-color:  rgba(255,255,255, 0.2);
}
a.nav-link{
  color: var(--navbar-navlink-color);
}
#topbar-item:hover{
  background-color: var(--main-btn-hover-color);
}
a{
  color: black;
}
#search-form{
   width: 25rem;
   float: right;
}
#search-bar{
  width: 12rem;
}
#search-button{
  margin-bottom: 1rem;
}
#search-button, #email-button, #contact-button{
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color);
  color: var(--main-btn-text-color);
  height: 3.5rem;
}
#search-button:hover, #email-button:hover, #contact-button:hover{
  background-color: var(--main-btn-hover-color);
  color: rgb(240,240,240);
}
.jumbotron-content{
  margin-top: 15rem;
}
#learn-more-button{
  background-color: var(--main-bg-color);
  color: rgb(255,255,255);
  margin-left: 10rem;
  margin-top: 3rem;
}
#learn-more-button:hover{
  background-color: var(--main-btn-hover-color);
  color: rgb(240,240,240);
}
#body-shop-border{
  padding-bottom: 1rem;
}
#ikea-border{
  padding-bottom: 5rem;
}
/* Clients, Employees, Daily users -section */
div.clients{
  display: inline-block;
  margin-right: 4rem;
}
div.employees{
 margin-right: 4rem;
  display: inline-block;
}
div.public{
  display: inline-block;
}
h3.clients-text, h3.employees-text, h3.daily-users-text{
  margin-left: 10rem;
}
img.clients-number, img.employees-number, img.daily-users-number{
  margin-left: 3rem;
}

/* Latest news -section */
.latest-news-header-text{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.feed-wrapper{
  margin-left: 4rem;
}
.white-rectangle{
  background-color: rgb(255,255,255);
  padding-left: 1rem;
  padding-top: 1rem;
  width: 27rem;
  height: 12rem;
}

/* References -section */
.references-header-text{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.reference-img{
  border: 1px solid #ccc;
}
.reference-header{
  text-align: center;
}
.reference-paragraph{
  text-align: center;
}
.reference-border{
  border: 1px solid #ccc;
  padding-bottom: 30px;
}
div.references{
  margin-bottom: 5rem;
}
/* Newsletter -section */
h3.newsletter-header{
  text-align: center;
}
p.newsletter-paragraph{
  text-align: center;
}
#subscribe-form{
  text-align: center;
}
#subscribe-form > input{
  margin-bottom: 1rem;
}
div.newsletter{
  margin-bottom: 4rem;
}
/* Footer -section */
div.footer{
  padding-bottom: 3rem;
}
.footer-content{
  margin-top: 2rem;
}
a.navbar-brand.navbar-left{
  color: white;
}
#footer-brand{
  padding-left: 0;
}
div > a > i{
 background-color: var(--main-bg-color);
 color: white;
 border-radius: 50%;
 border: 1x solid grey;
 padding: 10px;
}
i:hover{
  background-color: var(--main-btn-hover-color);
}
.sales-and-inquiries-text, .contact-email, .contact-phone{
  color: white;

}
.content-details-div{
  padding-right: 0;
}
.sales-and-inquiries-text{
    font-weight: bold;
    max-width: 150px;
}
p.contact-email{
  margin-bottom: 0;
}
.contact-button{
  margin-top: 4rem;
}
/* Overriding Bootstraps default hovering color */
#company-nav-link:hover, #products-nav-link:hover, #contact-us-nav-link:hover, #news-nav-link:hover, #intranet-nav-link:hover{
  background-color: rgb(15, 15, 15);
}
.social-media-icons{
  margin-top: 5rem;
  float: right;
}

/* Media Queries  */
@media(max-width: 767px) {
  .brand-header{
    width: 320px;
  }
  #main-navbar{
    float: right;
  }
  div.bg{
    position: static;
    left: 0;
    width: auto;
    height: 400px;
  }
  #bg-layer{
    padding-left: 0;
  }
  img.reference-img{
    margin-left: 3rem;
  }
  .row, .container, body{
    max-width: 768;
  }
  div.row.text-center{
      max-width: 400px;
      margin-right: 0;
  }
  .jumbotron-content{
    margin-left: 0;
  }
  #navbar-background{
    margin-left: 0;
    z-index: 1;
  }
  #toggle-button{
    float: left;
    display: inline-block;
  }
  #jumbotron{
    position: absolute;
    top: 22rem;
    max-width: 768px;
    height: 400px;
  }
  .container{
    padding-right: 0px;
  }
  .social-media-icons{
    margin-top: 3rem;
    float: left;
    margin-bottom: 2rem;
  }
 div > a > i
  {
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 6rem;
  }
 div > a:nth-child(3) > i{
    margin-right: 0;
  }
}
